.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #506574;
  }
}
